/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ec583c32e61513b07b73d70ae1f88600$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.confirm_idle {width:48px; height:48px; background-position: -192px -0px}
.picture_active {width:48px; height:48px; background-position: -144px -0px}
.testo_idle {width:48px; height:48px; background-position: -96px -0px}
.text_format_idle {width:48px; height:48px; background-position: -48px -0px}
.transform_idle {width:48px; height:48px; background-position: -0px -0px}
