#upload-file-container {
    background: url(../gfx/camera_icon_small.png) no-repeat;
    width: 64px;
    height: 64px;
    background-size: cover;

}
.circleBase {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #000000;
}
.circle-black{
    background: #000000;
}
.circle-yellow{
    background: #ffcc00;
}
.circle-blue{
    background: #add8e6;
}
.circle-green{
    background: green;
}
.circle-red{
    background: red;
}
.circle-white{
    background: whitesmoke;
}

#upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;
    width: 64px;
    height: 64px;
}

.composition {
    width: 322px;
    position: relative;
    overflow: hidden;
    height: 322px;
}

.picture {

    position: relative;
    cursor:move;
     

}
#containerBox.active {

   border: 1px dashed darkred;
}
.testo {
    width: 314px;
}
.font-arial{
    font-family: Arial;
}
.font-trebuchet{
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}
.font-gotham-black{
    font-family: "Gotham-Black", Helvetica, sans-serif;
}
.font-times{
    font-family: "Times New Roman";
}
.color-black{
    color: #000000;
}
.color-yellow{
    color: #ffcc00;
}
.color-blue{
    color: #add8e6;
}
.color-green{
    color: green;
}
.color-red{
    color: red;
}
.color-white{
    color: whitesmoke;
}
#zoomwrapper1 {
    height: 320px;
    width: 100%;
    /* -webkit-transform: translate3d(0,0,0); */
    overflow: hidden;

    z-index: 10;
    position: absolute;
    display: none;
}


.testo-p {
    text-align: center;


    margin: 0;
    padding: 2px;
    font-size: 30px;
}

.zoomProps {
    z-index: 1;
    position: absolute;
}
body{
    margin: 0;
    padding: 0;
    /*position: fixed;*/
}

.horizontal {
    float: left;

    width: 64px;
    list-style: none;
    text-align: center;
}

.menu-footer {
    padding: 0;
    margin: 0;
    width: 320px;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.lista {
    padding: 0;
    margin: 0;
    width: 320px;
    height: 50px;

}
.horizontal-2 {
    float: left;
     
    width: 50%;

    list-style: none;
    text-align: center;
}

.horizontal-6 {
    float: left;
    list-style: none;
    width: 16.6667%;
}

.horizontal-5 {
    float: left;
    list-style: none;
    width: 20%;
}

.ui-view-container {
    width: 320px;
    min-height: 100px;
}

#containerBox {
    border: 1px solid black;
    width: 320px;
    height: 320px;
}

#rect1.active {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px dashed whitesmoke;
}

.fullscreen {
}
#rect1{
    position: relative;
}